<%= form_for @movie do |f| %>
  <div class="form-group">
    <%= f.text_field :title, required: true, placeholder: "Movie Title", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, required: true, placeholder: "Description", class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.text_area :director, required: true, placeholder: "Director", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
