<div class="row">
  <div class="col-md-4">
    <%= image_tag @movie.movie_img.url(:medium), class: "movie-detail" %>
  </div>
  <div class="col-md-8">
    <div class="movie-info">
      <h3 class="movie-title"><%= @movie.title %></h3>
      <h4 class="movie-category"><%= @movie.category.name %></h4>
      <p class="movie-director"><span>From: </span><%= @movie.director %></p>
      <h4 class="average-rating">Average Rating</h4>
      <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <span class="number-of-reviews"><em>From: </em>
        <%= @movie.reviews.count %>
      </span>
      <p class="movie-desc"><%= @movie.description %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="reviews">
      <h1>Reviews</h1>
      <%= render @movie.reviews %>
      <div>
        <%= link_to "Add Reviews", new_movie_review_path(@movie), class: "btn-custom" %>
      </div>
    </div>
  </div>
</div>
<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @movie.user_id == current_user.id %>
      <%= link_to 'Edit', edit_movie_path, class: 'btn btn-default' %>
      <%= link_to 'Delete', movie_path(@movie), class: 'btn btn-danger',
                  method: :delete, data: { confirm: 'Are you Sure?' } %>
    <% end %>
  <% end %>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>