<div class="row">
  <div class="col-md-4">
    <%= image_tag @movie.movie_img.url(:medium), class: "movie-detail" %>
  </div>
  <div class="col-md-8">
    <div class="movie-info">
      <h3 class="movie-title"><%= @movie.title %></h3>
      <h4 class="movie-category"><%= @movie.category.name %></h4>
      <p class="movie-desc"><%= @movie.description %></p>
      <p class="movie-director"><span>From: </span><%= @movie.director %></p>
    </div>
  </div>
</div>

<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @movie.user_id == current_user.id %>
      <%= link_to 'Edit', edit_movie_path, class: 'btn btn-default' %>
      <%= link_to 'Delete', movie_path(@movie), class: 'btn btn-danger',
                  method: :delete, data: { confirm: 'Are you Sure?' } %>
    <% end %>
  <% end %>
</div>